body{
    background: #fdfdfd;
}
a, a:link {
    text-decoration:none;
}
.footer-container{
	position: relative;
    width: 1170px;
	bottom: 0px;
    margin-right: auto;
    margin-left: auto;
}
.footer-container .footer{
    padding: 15px;
    background: #d9d9d9;
    color: #434343;
}
.footer-container .copyright{
    padding: 15px;
    background: #222222;
    color: #ffffff;
}
.carousel-container{
    height:270px;
    overflow: hidden;
}
.people-box{
    border: 1px solid #DDD;
}
.people-box .description{
    vertical-align: baseline;
    display: inline-block;
}
.people-box img{
    max-width: 144px;
    padding: 6px;
    height: auto;
}
/* overrides */
/*a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {*/
    /*background-color: #222222;*/
    /*border-color: #222222;*/
/*}*/
.list-group{
    display: inline-block;
}
a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus{
    border: 1px solid #DDD;
}
.carousel-caption{
    background: rgba(107, 100, 103, 0.63);
}
hr{
    margin: 0px;
}
.list-group a{
    cursor: pointer;
}
.navbar-default .navbar-nav > li > a{
    margin-top: 3px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    margin-top: 10px;
    padding-top:5px;
    padding-bottom:5px
}