body{
    background: #fdfdfd;
}
a, a:link {
    text-decoration:none;
}
.footer-container{
	position: relative;
    width: 1170px;
	bottom: 0px;
    margin-right: auto;
    margin-left: auto;
}
.footer-container .footer{
    padding: 15px;
    background: #d9d9d9;
    color: #434343;
}
.footer-container .copyright{
    padding: 15px;
    background: #222222;
    color: #ffffff;
}

/* overrides */
/*a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {*/
    /*background-color: #222222;*/
    /*border-color: #222222;*/
/*}*/
.list-group{
    display: inline-block;
}
.carousel-caption{
    background: rgba(107, 100, 103, 0.63);
}
hr{
    margin: 0px;
}
.list-group a{
    cursor: pointer;
}